.card {
  border-radius: 10px;
}

.card-header {
  font-weight: bold;
}

.card-body {
  background-color: #f8f9fa;
}

.card.h-100 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-primary{
  background: linear-gradient(to right,  #d8363a, #dd3675);
}
.btn-danger{
  background-color: white !important;
  border: 1px solid #d8363a !important;
  color: #d8363a;
  text-transform: none !important;
  font-weight: 500;
  font-size: 15px;
}
.details{
  cursor: pointer;
}
.input-group-text {
  background-color: #d8363a;
  color: #fff;
  border: none;
}

.input-group-text .fa-filter {
  font-size: 1.2em;
}

.input-group .form-control {
  border-left: 0;
}

.input-group {
  border: 1px solid #d8363a;
  border-radius: 0.25rem;
  overflow: hidden;
}

