.navbar {
  background: linear-gradient(to right,  #d8363a, #dd3675);
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}


.fa-sign-out-alt, .fa-chart-line, .fa-home{
  font-size: 1.5rem;
}
