<div class="add-ticket-modal">
  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title>Add New Ticket</h2>
  <mat-dialog-content>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="inbound">From</label>
        <select id="inbound" class="form-control" formControlName="inbound" required>
          <option *ngFor="let airport of airports" [value]="airport.code">{{ airport.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="outbound">To</label>
        <select id="outbound" class="form-control" formControlName="outbound" required (change)="onAirportChange($event)">
          <option *ngFor="let airport of airports" [value]="airport.code">{{ airport.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ticket_type">Type</label>
        <select id="ticket_type" class="form-control" formControlName="ticket_type" required (change)="onTicketTypeChange($event)">
          <option *ngFor="let type of ticketTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" type="number" class="form-control" formControlName="price" required readOnly/>
      </div>
      <div class="form-group">
        <label for="seat_number">Seat Number</label>
        <input id="seat_number" class="form-control" formControlName="seat_number" required/>
      </div>
      <div class="form-group">
        <label for="from_date">From Date</label>
        <input id="from_date" type="datetime-local" class="form-control" formControlName="from_date" required/>
      </div>
      <div class="form-group">
        <label for="to_date">To Date</label>
        <input id="to_date" type="datetime-local" class="form-control" formControlName="to_date" required/>
        <div *ngIf="ticketForm.errors?.['dateRangeInvalid']" class="text-danger">
          To Date cannot be earlier than From Date!
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="ticketForm.invalid">Submit</button>
      </div>
    </form>
  </mat-dialog-content>
</div>
